$primarycol: rgb(255, 124, 48);
$secondarycol: rgb(3, 78, 3);

body,html{
    width: 100%;
    height:auto
    ;
}


    


.nav{
    color: $primarycol;
    label{
        font-weight: 700;
    }
    select{
        border: 1px solid $secondarycol !important;
    }
}

.card-div{
    h1 , h5{
        color: $primarycol;
    }
    p{
        font-weight: 700;
        color: $secondarycol;
        margin-left: 10px;
    }
   
        a{
            text-decoration: none;
            color: white;
        }
    
}

@media screen and (max-width:500px) {
    .card-div{
        img{
            width: 250px;
            height: 300px;
        }
        h1 , h5{
            color: $primarycol;
        }
        p{
            font-weight: 700;
            color: $secondarycol;
            margin-left: 10px;
        }
       
            a{
                text-decoration: none;
                color: white;
            }
        
    }


    video{
        width: 300px !important;
        height: 150px !important;
    }
    
}


