$primarycol: rgb(255, 125, 50);
$secondarycol: rgb(5, 51, 5);

body,html{
    background-image: linear-gradient(to left top, #fff1de, #ffe4d8, #f1d5f7, #fad8ea, #ffe0c2
    , #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    width: 100%;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
}


    


.nav{
    color: $primarycol;
    label{
        font-weight: 700;
    }
    select{
        border: 1px solid $secondarycol !important;
    }
}

.card-div{
    img{
        width: 500px !important;
    }
    h1 , h5{
        color: $primarycol;
    }
    p{
        font-weight: 700;
        color: $secondarycol;
        margin-left: 10px;
    }
   
        a{
            text-decoration: none;
            color: white;
        }
    
}

.text-div{
    background-image: linear-gradient(to left top, #ffdbac, #ffd3bf, #f5c5ff, #ffcde8, #f8caca
    , #eaedff, #d7f6ff, #d2fbff, #9cf3d6, #ffffff, #cbf7f8, #c4fae1);
    h1{
        color: $secondarycol !important;
        text-shadow: 2px 2px 2px black !important
    }
    span{
        color: $primarycol !important;
    }
}

.card{
    border: 1px solid $secondarycol !important;
    img{
        cursor: pointer !important;
    }
}

.footer{
  
    padding: 50px 0;
    background-color:$primarycol;
    color: white;
    h2{
        font-family: header-font;
        font-size: 26px;
    }

    ul{
        list-style-type: none;
        list-style-position: inside;
        h4{
            font-size: 20px;
            font-weight: bold;
        }
        li{
            margin-top: 6px;
            font-size: 18px;
             
            span{
                margin-right: 15px;
                background-color: #FFFFFF;
                color: #555555;
                border: none;
                border-radius: 8px;
                padding: 6px 11px;
                font-size: medium;
                margin-bottom: 5px;
        
            }

            .button{
                margin-right: 15px;
                background-color: #FFFFFF;
                color: #555555;
                border: none;
                border-radius: 8px;
                padding: 6px 8px;
                font-size: medium;
                margin-top: 5px;
        
            }

       
        }
    }
}

@media screen and (max-width:500px) {
    .card-div{
        img{
            width: 250px !important;
            height: 300px !important;
        }
        h1 , h5{
            color: $primarycol;
        }
        p{
            font-weight: 700;
            color: $secondarycol;
            margin-left: 10px;
        }
       
            a{
                text-decoration: none;
                color: white;
            }
        
    }


    video{
        width: 300px !important;
        height: 150px !important;
    }
    
}



